.home-page header {
    background-image:  url(../../utils/images/gallery4.jpg);
}
.home-page .new{

    /*margin: 10vh 0 0 0;*/
}
.header-slider .header-slide {
    height: min-content;
/*// Adjust the height as needed*/
background-size: cover;
    /*background-position: center;*/
}

.home-page header {
    background-size: cover;
align-items: center}


.blog-section {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/blog-section-img.jpg);
    background-size: cover;
    background-position: center;
}
.video-page {
    display: flex;
    justify-content: center;
}